[color]
    ui = auto
[user]
	name = Carlo Zottmann
	email = carlo@municode.de
[alias]
	wtf = !git-wtf
	shlog = "log --pretty=\"%Cgreen%h%Creset – %Cred%ci%Creset – %s (%Cred%an%Creset)\""
[core]
	autocrlf = input
[difftool "Kaleidoscope"]
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
